# Virtual Environment
venv/
env/
ENV/
.venv/
.env/
.ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Other common files
*.log
.DS_Store